// Common colors use on medium.com
// Extract these colors with the help of inspect elements

$border-dark-color: rgba(41, 41, 41, 1);
$border-light-color: rgba(230, 230, 230, 1);
$btn-green-color: rgb(26, 137, 23);
$nav-color: rgb(41, 41, 41);
$sr-no-color: rgba(230, 230, 230, 1);
$tag-line-color: rgba(117, 117, 117, 1);
$tag-button-back-color: rgba(242, 242, 242, 1);
$green-color: rgb(26, 137, 23);
